.about-hero{
  overflow: hidden;
}
.about-hero {
  padding: 62px 0 120px;
  background-image: url("../../images/about-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: 100% 200px;
}

.about-hero__title {
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}