.about-values__list {
  display: flex;
  text-align: center;
}

.about-values__list-item {
  list-style-type: none;
  margin-left: 30px;

}


.about-values__img {
  position: relative;
  border-radius: 50%;
  margin-bottom: 87px;

  &::after {
    display: block;
    background-image: url("../../images/our-one.svg");
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    content: "";
  }
}

.about-values__title {
  font-weight: 700;
  margin-bottom: 103px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.about-values__item-title {
  font-weight: 700;
  padding-bottom: 27px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
}

.about-values__item-text {
  font-family: 'Lexend Deca';
  font-weight: 400;
  margin-bottom: 200px;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939CAA;
}


@include max-min ($max-width: 900px, $min-width: 768px) {
  .about-values__list {
    flex-direction: column;
  }

  .about-values__item-title {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-align: center;
    letter-spacing: -1.07143px;
    color: #495567;
  }

  .about-values__list-item {
    width: 457px;
  }
}