.site-header {
    padding: 22px 0;
}

.site-header__inner {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
}

.navbar {
    margin-left: 58px;
}

.navbar__list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar__item + .navbar__item {
    margin-left: 32px;
}

.navbar__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 167%;
    color: #939CAA;
    &:hover {
        color: #FCB72B;
    }
}

.site-header__link {
    margin-left: auto;
    padding: 14px 39px;
    border: 3px solid transparent;
    text-decoration: none;
    background-color: #FCB72B;
    font-weight: 700;
    font-size: 15px;
    line-height: 167%;
    color: #FFFFFF;
    &:hover {
        border: 3px solid #FCB72B;
        background-color: transparent;
        color: #FCB72B;
    }
}